---
import type { SanityDocument } from '@sanity/client'
import PageTitle from '../../components/text/PageTitle.astro'
import PageHeader from '../../components/ui/PageHeader.astro'
import Layout from '../../layouts/Layout.astro'
import { sanityClient } from 'sanity:client'
import BlogCard from '../../components/ui/BlogCard.astro'
import { SITE_TITLE } from '../../consts'

// Fetch all posts
const posts = (await sanityClient.fetch(
  `*[_type == "post"] | order(publishedAt desc) {
    _id,
    title,
    slug,
    publishedAt,
    description,
    mainImage,
    "estimatedReadingTime": round(length(pt::text(body)) / 5 / 180 )
  }`
)) as SanityDocument[]

// Sort posts by date
const newestPost = posts[0]
const recentPosts = posts.slice(1, 4)
const remainingPosts = posts.slice(4)
---

<Layout title={`Blog | ${SITE_TITLE}`} description="Explore our blog for the latest news and insights on lymphatic health and manual therapy.">
  <PageHeader>
    <PageTitle>Blog</PageTitle>
    <p class="h4 max-w-lg lsa lsa-slide-up delay-100 no-repeat">
      Explore our blog for the latest news and insights on lymphatic health and manual therapy.
    </p>
    
    <!-- Email Subscribe Form -->
    <div class="max-w-md lsa lsa-slide-up delay-200 no-repeat">
      <form class="join w-full mb-4" method="POST" action="/blog">
        <input
          id="email"
          type="email"
          name="email"
          placeholder="Enter your email address"
          class="input input-bordered input-primary text-base-content join-item flex-1"
          required
        />
        <label class="sr-only" for="email">Email</label>
        <button type="submit" class="btn btn-primary join-item">Subscribe</button>
      </form>
      <p class="text-sm">No spam, unsubscribe anytime. We respect your privacy.</p>
    </div>
  </PageHeader>

  <main class="wrapper">
    {
      posts.length === 0 ? ( 
        <section id="no-posts-found" class="flex flex-col items-center justify-center gap-(--site-padding-base)">
          <h2>No posts found</h2>
          <p>Check back soon for new posts.</p>
        </section>
      ) : ( 
        <section id="recent-blog-posts" class="container lg:max-w-screen-2xl mx-auto pt-(--site-padding-base)">
          <h2 class="mb-8 lsa lsa-slide-up no-repeat">Recent Blog Posts</h2>

          <div class="grid lg:grid-cols-2 gap-(--site-padding-md) lg:gap-(--site-padding-base)">
            <BlogCard post={newestPost} />

            <div class="flex flex-col gap-(--site-padding-md) lg:gap-(--site-padding-base)">
              {recentPosts.map((post) => <BlogCard post={post} isRow={true} />)}
            </div>  
          </div>
        </section>
        
        <section id="all-blog-posts" class="container lg:max-w-screen-2xl mx-auto">
          <div>
            <h2 class="mb-8 lsa lsa-slide-up no-repeat">All Blog Posts</h2>

            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-(--site-padding-md) lg:gap-(--site-padding-base)">
              {remainingPosts.map((post) => <BlogCard post={post} class="h-full" />)}
            </div>
          </div>
        </section>
      )
    }
  </main>
</Layout>
