---
import { getImage, Image } from 'astro:assets'
import lymphaticDrainageImage from '../assets/images/lymphatic-drainage.jpg'
import LymphaticSystemImage from '../assets/images/lymphatic-system.png'
import message from '../assets/images/message.jpg'
import postSurgicalImage from '../assets/images/post-surgical.jpg'
import ListItem from '../components/text/ListItem.astro'
import PageTitle from '../components/text/PageTitle.astro'
import Card from '../components/ui/Card.astro'
import PageHeader from '../components/ui/PageHeader.astro'
import ThemedSection from '../components/ui/ThemedSection.astro'
import { SERVICES, TESTIMONIALS } from '../consts'
import Layout from '../layouts/Layout.astro'

const messageImage = await getImage({ src: message })

// Create a mapping of image keys to actual image imports
const serviceImages: Record<string, any> = {
  lympaticDrainage: lymphaticDrainageImage,
  postSurgical: postSurgicalImage,
}
---

<Layout>
  <PageHeader>
    <!-- TODO: remove duplicate H1s -->
    <PageTitle class="text-center max-w-none text-primary">
      Lymphatic Specialists of Madison</PageTitle
    >
    <p class="h2 text-center mx-auto lsa lsa-slide-up delay-100">
      Madison's Best Lymphatic Care Clinic
    </p>
    <div class="grid
      grid-cols-1
      md:grid-cols-2
      gap-(--site-padding-base)">
      <div class="prose">
        <p class="lsa lsa-slide-up delay-200 no-repeat">
          We are a patient-focused clinic specializing in Manual Lymphatic Drainage (MLD) and have
          experience and expertise treating: post-surgical patients, cancer patients,
          post-mastectomy, DIEP flap reconstruction, post-plastic surgery patients, chronic
          lymphatic conditions such as lymphedema and lipedema, as well as those with generalized
          inflammation, chronic immune impaired conditions (Lyme disease, Ehlers-Danlos Syndrome,
          rheumatoid arthritis, etc), long/post-COVID symptoms, and hypersensitivity.
        </p>
        <p class="lsa lsa-slide-up delay-300 no-repeat">
          Established in 2025, Lymphatic Specialists of Madison is owned and operated by Courtney
          Rolnick, PT, DPT, CMLDT, who has been a practicing PT for 9 years and has specialized in
          lymphatics for 7 years.<br /><span class="mt-4 block h3"
            >Courtney is deeply passionate about lymphatic work and building a team of compassionate
            providers who are highly educated with specific skills to help you on your health
            journey.</span
          >
        </p>
      </div>
      <div class="prose">
        <p class="lsa lsa-slide-up delay-400 no-repeat">
          For more information on how Lymphatic Specialists of Madison can help you achieve your
          health goals, call us at <a href="tel:6083582082" class="link link-accent"
            >(608) 358-2082</a
          >.
        </p>
        <p class="text-sm lsa lsa-slide-up delay-500 no-repeat">
          <em>
            <strong class="text-primary font-nuckle-semibold">Note:</strong> If you are having difficulty
            getting scheduled at the time/day you would like - please don't hesitate to call/text us
            to be added to our cancellation list as cancellations are common. Sometimes we are booking
            farther out - we use our cancellation list as a means to get patients in sooner. Thank you.
          </em>
        </p>
        <div class="lsa lsa-slide-up delay-600 no-repeat">
          <a
            href="https://booksy.com/en-us/689566_madison-lymphatics-and-bodywork_massage_39663_madison"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary"
          >
            Book Now
          </a>
        </div>
      </div>
    </div>
  </PageHeader>

  <main>
    <section id="services" class="wrapper mb-(--site-padding-2xl) pt-(--site-padding-base)">
      <h2 class="mb-(--site-padding-md) h1 lsa lsa-slide-up no-repeat">Therapeutic Services</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          SERVICES.map((service, index) => (
            <div class={`lsa lsa-slide-up delay-${index * 100} no-repeat group`}>
              <Card
                id={service.title}
                imageSrc={serviceImages[service.imageKey]}
                imageAlt={`${service.title} service`}
                className="h-full border-base-200 hover:border-primary"
              >
                <h3>{service.title}</h3>
                <p>{service.description}</p>
                <div class="card-actions justify-end">
                  <a href={service.learnMoreHref} class="btn btn-primary">
                    Learn More
                  </a>
                  <a
                    href={service.bookNowHref}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-dash"
                  >
                    Book Now
                  </a>
                </div>
              </Card>
            </div>
          ))
        }
      </div>
    </section>

    <ThemedSection id="what-is-the-lymphatic-system" class="bg-primary/5">
      <div
        class="wrapper w-full p-(--site-padding-md) md:p-(--site-padding-lg) flex flex-col items-start gap-(--site-padding-md)"
      >
        <h2 class="h1 lsa lsa-slide-up no-repeat">What is Scar Tissue Work?</h2>
        <div
          class="grid grid-cols-1 md:grid-cols-2 gap-(--site-padding-base) md:gap-(--site-padding-xl) w-full"
        >
          <div class="space-y-4">
            <p class="h3 lsa lsa-slide-up delay-100 no-repeat">
              Scar tissue is fibrous tissue that replaces normal skin or other tissue after an
              injury, wound, or trauma.
            </p>
            <p class="lsa lsa-slide-up delay-200 no-repeat">
              Scar tissue is composed of collagen, the same as the tissue it replaces, but the fiber
              composition of the collagen protein is different — instead of a random basketweave
              formation found in normal tissue, the collagen fibers in scar tissue are cross-linked
              and form a pronounced alignment in a single direction. This difference causes a lack
              of elasticity, making scars more taut, which in turn can affect the movement and
              function of surrounding tissues. Normal scars appear as a thin white line and are
              flat.
            </p>
            <p class="lsa lsa-slide-up delay-300 no-repeat">
              In addition, scar tissue can form adhesions to tissues underneath, causing puckering,
              pain, tethering, and other more serious issues. Superficial or deep nerve entrapments
              can also occur, causing pain and dysfunction. Normal scars appear as a thin white line
              and are flat.
            </p>
          </div>
          <div class="space-y-4">
            <p class="lsa lsa-slide-up delay-400 no-repeat">
              Other types of scar development that aren't considered normal and tend to cause issues
              are hypertrophic, keloid, adhered, and contracted scars. We use manual techniques
              along with cupping in practice at LSOM to help remodel scar tissue to help prevent
              issues from arising in newly formed scar tissue and to help already formed scars that
              are problematic, improving both appearance, mobility, and function.
            </p>
            <p class="lsa lsa-slide-up delay-500 no-repeat">
              A great analogy for how we remodel scar tissue is to think about kneading dough. When
              beginning the kneading process, the dough will bounce back to its original shape, and
              it takes continual molding to make the dough flatten out over time and then keep this
              flattened shape.
            </p>
            <p class="lsa lsa-slide-up delay-600 no-repeat">
              We are doing the same thing with scar tissue — just enabling increased elasticity and
              movement through constant hands-on reinforcement and remodeling.
            </p>
          </div>
        </div>
      </div>
    </ThemedSection>

    <section
      id="about"
      class="hero mb-(--site-padding-2xl) p-0 shadow-sm bg-cover bg-center md:bg-fixed"
      style={`background-image: url(${messageImage.src});`}
    >
      <div class="hero-overlay bg-black/70"></div>
      <div
        class="wrapper w-full p-(--site-padding-md) md:p-(--site-padding-lg) flex flex-col items-start gap-(--site-padding-md)"
      >
        <h2 class="h1 text-accent text-shadow-lg lsa lsa-slide-up no-repeat">What Sets Us Apart</h2>
        <div
          class="grid grid-cols-1 md:grid-cols-2 gap-(--site-padding-base) md:gap-(--site-padding-xl) w-full"
        >
          <div class="space-y-4">
            <p class="h3 text-primary-content text-shadow-lg lsa lsa-slide-up delay-100 no-repeat">
              At Lymphatic Specialists of Madison, we approach our sessions differently from other
              clinics that you may have been to before.
            </p>
            <p class="text-primary-content text-shadow-lg lsa lsa-slide-up delay-200 no-repeat">
              We always focus on the patient's individual needs, analyzing a number of different
              aspects of their health, to see how Manual Lymphatic Drainage would be most
              beneficial. We believe that educating our patients on the lymphatic system and looking
              at each individual holistically greatly improves one's understanding of their body and
              health, and in turn allows them to feel empowered and supported. Patient autonomy is a
              priority to us - we will work with your comfort level during each session and never
              push beyond that - building trust with you is our main priority, and so we believe you
              have the final say in all the treatments provided during a session.
            </p>
            <p class="lsa text-primary-content text-shadow-lg lsa-slide-up delay-300 no-repeat">
              Our practitioners hold master's and doctorate degrees, making them experts in their
              fields. Their education provided them with exceptional knowledge of the lymphatic
              system, anatomy, physiology, kinesiology, and an understanding of how it all works
              together. This ensures that you, the patient, are getting the best treatment possible.
            </p>
          </div>
          <div class="space-y-4">
            <p class="lsa text-primary-content text-shadow-lg lsa-slide-up delay-400 no-repeat">
              Before each treatment, we do an assessment with the patient, asking questions that
              will help formulate a treatment plan for the session that is designed for optimal
              results. All of our practitioners at Lymphatic Specialists of Madison use the Vodder
              Method in Manual Lymphatic Drainage sessions. In addition, we will use any of the
              “tools in our toolbox” to help in the treatment session if we feel that something is
              blocking or inhibiting our ability to drain the lymph system properly. That can look
              like doing soft tissue work, myofascial work, scar tissue work, deep breathing, or
              cupping.
            </p>
            <div class="lsa lsa-slide-up delay-700 no-repeat">
              <a href="/careers" class="btn btn-accent">About Our Team</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="testimonials" class="mb-(--site-padding-2xl)">
      <div class="wrapper">
        <h2 class="mb-(--site-padding-md) h1 text-center lsa lsa-slide-up no-repeat">
          Our Clients Love Us
        </h2>

        <!-- Carousel items -->
        <div class="carousel carousel-center mx-auto gap-(--site-padding-base) w-full">
          {
            TESTIMONIALS.map((testimonial, index) => (
              <div
                class={`lsa lsa-slide-up delay-${index * 100} no-repeat carousel-item max-w-xl w-full h-full pb-(--site-padding-base)`}
              >
                <Card id={`testimonial-${testimonial.id}`}>
                  <div class="flex">
                    {Array.from({ length: testimonial.rating }, (_, i) => (
                      <svg class="w-5 h-5 text-secondary fill-current" viewBox="0 0 24 24">
                        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z" />
                      </svg>
                    ))}
                  </div>
                  <blockquote class="italic">
                    <p>
                      <em>"{testimonial.text}"</em>
                    </p>
                  </blockquote>
                  <div class="text-right">
                    <p class="font-semibold text-primary">{testimonial.author}</p>
                  </div>
                </Card>
              </div>
            ))
          }
        </div>

        <!-- Carousel navigation -->
        <div class="flex justify-center gap-2 py-4">
          {
            TESTIMONIALS.map((testimonial) => (
              <a href={`#testimonial-${testimonial.id}`} class="btn btn-square btn-dash btn-md">
                {testimonial.id}
              </a>
            ))
          }
        </div>
      </div>
    </section>

    <ThemedSection id="what-is-the-lymphatic-system" class="bg-primary/5">
      <div
        class="wrapper p-(--site-padding-md) md:p-(--site-padding-lg) grid grid-cols-1 md:grid-cols-2 gap-(--site-padding-lg)"
      >
        <div class="prose lg:prose-xl">
          <h2 class="lsa lsa-slide-up no-repeat">What is the Lymphatic System?</h2>
          <div class="relative w-full pb-[56.25%] rounded-box shadow-lg overflow-hidden">
            <iframe
              class="absolute top-0 left-0 w-full h-full"
              src="https://www.youtube-nocookie.com/embed/eWUAB194qhU?si=AXOQ13iWs38PSa8S"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              loading="lazy"
              allowfullscreen></iframe>
          </div>
        </div>

        <div class="prose lg:prose-xl">
          <p class="h3 lsa lsa-slide-up no-repeat">
            A good analogy for the lymph system and how inflammation affects the lymph system:
          </p>
          <ul class="list">
            <ListItem
              listItemClass=""
              number={1}
              text="Imagine your lymph system as a bathtub shower."
            />
            <ListItem number={2} text="Your lymph fluid is shower water." />
            <ListItem number={3} text="Your body is the tub." />
            <ListItem
              number={4}
              text="Your lymph nodes are the drain (imagine a hair catcher on top of the drain so lots of little holes )"
            />
            <ListItem
              number={5}
              text="In a normal healthy lymph system - water from the shower comes out as fast as it goes down the drain leaving no standing water behind."
            />
          </ul>
          <p class="lsa lsa-slide-up no-repeat">
            Now imagine an acute injury or trauma like a sprained ankle (in the health field, acute
            means there is a beginning and an end) — this looks like letting the shower water run,
            but also turning on the bathtub water at the same time. The amount of time and intensity
            at which the bathtub water turns on varies based on the acute trauma, but it is more
            than normal. Now there is standing water, but hopefully and usually eventually, your
            body's lymph nodes (the bathtub drains) can move this excess fluid through, leaving no
            standing water after a couple of days. Sometimes this doesn't happen, and that's where
            we step in - to help move along that excess fluid back into the drain!
          </p>
        </div>
      </div>

      <div
        class="wrapper p-(--site-padding-md) md:p-(--site-padding-lg) grid grid-cols-1 md:grid-cols-2 gap-(--site-padding-lg)"
      >
        <div class="order-2 md:order-first prose lg:prose-xl">
          <p class="h3 lsa lsa-slide-up no-repeat">
            Now imagine chronic inflammation, like in the case of an autoimmune disease.
          </p>
          <p class="lsa lsa-slide-up no-repeat">
            This leaves a constant amount of standing water in the bathtub because this amount is
            always larger than the amount of shower water (the amount your body is programmed to
            manage), and your drains can only handle the amount of water produced from the shower
            water. Our job is not to let that standing water accumulate on the bottom of the
            bathtub, but to chip away at it each session to get your body in a more manageable,
            functional, and optimal place.
          </p>
          <p class="lsa lsa-slide-up no-repeat">
            Now imagine lymphedema, which can be from lymph node removal, trauma, radiation, or scar
            tissue. This is like taking away some of the drains. There is no excess water, just not
            enough drains to allow the water to go down the drain without any issues.
          </p>
          <h3 class="h3 lsa lsa-slide-up no-repeat">What causes excess inflammation?</h3>
          <p class="lsa lsa-slide-up no-repeat">
            Lymph is a by-product of blood flow. With inflammation, we have more blood flow and then
            more lymph. Therefore, inflammation affects the lymphatic system.
          </p>
          <p class="lsa lsa-slide-up no-repeat">
            Possible causes of inflammation (although it is different for everyone)
          </p>
          <ul class="list">
            <ListItem
              number={1}
              text="Diet: eating foods that create an inflammatory/allergic response to, or eating too little/too much."
            />
            <ListItem number={2} text="Exercise: too little or too much." />
            <ListItem number={3} text="Hormone imbalance." />
            <ListItem
              number={4}
              text="Genetics: having a predisposition to something like an autoimmune disease."
            />
            <ListItem number={5} text="Acute or chronic stress." />
            <ListItem number={6} text="High Cortisol levels (caused often by chronic stress)" />
            <ListItem number={7} text="Environment: allergens or sensitivities." />
            <ListItem number={8} text="Acute trauma" />
          </ul>
        </div>

        <Image
          src={LymphaticSystemImage}
          alt="Lymphatic System"
          class="order-first md:order-last lsa lsa-slide-up no-repeat"
        />
      </div>

      <div class="wrapper p-(--site-padding-md) md:p-(--site-padding-lg) prose lg:prose-xl">
        <p class="h3 lsa lsa-slide-up no-repeat">
          We look at all of the above factors that could play a role in excess inflammation and then
          assign them as either a pebble, a rock, or a boulder, and decide which variables are
          contributing to your particular situation and which variables can be changed, and which
          cannot.
        </p>
        <p class="lsa lsa-slide-up no-repeat">
          We imagine a cylindrical vase filled halfway with water, and start adding in your
          inflammatory factors into the vase. We begin to SEE/FEEL symptoms of excess inflammation
          when the vase overflows.
        </p>
        <p class="lsa lsa-slide-up no-repeat">
          For example, if you have an autoimmune disease (this would be a boulder), have a
          sensitivity to gluten (pebble), and a close relative just passed away (rock), this could
          be enough to tip the water over the edge. This is where the interdisciplinary, holistic
          approach to patient care comes in. We often make referrals to other professionals who can
          help address your changeable pebbles, rocks, and boulders, so we can focus on what we
          specialize in, which is to treat the overflow of inflammation (i.e., lymphatic fluid) that
          we see.
        </p>
      </div>
    </ThemedSection>
  </main>
</Layout>
